* {
  --shadow-def: 0 20px 10px rgba($color: #033, $alpha: 0.5);
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  flex-wrap: wrap;
}
.light {
  --c1: #000;
  --c2: #333;
  --c3: #777;
  --ct: rgba(025, 025, 025, 0.5);
  --bg1: #fff;
  --bg2: #bbb;
  --suc: #3b3;
  --err: #b33;
  --gd1: linear-gradient(135deg, var(--bg2), var(--bg1), var(--bg2));
  --gd2: linear-gradient(135deg, var(--bg1), var(--bg2), var(--bg1));
  --gdr1: radial-gradient(var(--bg1), var(--bg2));
  --gds1: linear-gradient(135deg, #290, #077, #719);
  --gds2: linear-gradient(135deg, #7d0, #3dd, #a3d);
  --sd1: 0px 0px 10px 5px var(--ct);
  --sd2: 0px 0px 10px 5px var(--suc);
  --sd3: 0px 0px 10px 5px var(--err);
  --dest: #3dd;
}
.dark {
  --c1: #fff;
  --c2: #999;
  --c3: #888;
  --ct: rgba(125, 125, 125, 0.5);
  --bg1: #000;
  --bg2: #222;
  --suc: #050;
  --err: #500;
  --gd1: linear-gradient(-135deg, var(--bg2), var(--bg1), var(--bg2));
  --gd2: linear-gradient(-135deg, var(--bg1), var(--bg2), var(--bg1));
  --gdr1: radial-gradient(var(--bg1), var(--bg2));
  --gds1: linear-gradient(-135deg, #290, #077, #719);
  --gds2: linear-gradient(-135deg, #7d0, #3dd, #a3d);
  --sd1: 0px 0px 10px 5px var(--ct);
  --sd2: 0px 0px 10px 5px var(--suc);
  --sd3: 0px 0px 10px 5px var(--err);
  --dest: #3dd;
}
