$shadow-def: 0 20px 10px rgba($color: #033, $alpha: 0.5);
$first-color:red;
*{
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    flex-wrap: wrap;
}
